.story-detail-card {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  background-color: rgb(160, 128, 48, 0.1);
  border: black solid 1px;
}

.story-image {
  width: 200px;
}

.story-title {
  font-weight: bold;
  font-size: 18px;
}

.story-description {
  font-size: 12px;
}